/* ------------------- Navbar Container ------------------- */
.auth-nav-container {
    z-index: 100;
    position: sticky;
    top: 0px;

    width: 100vw;
    margin-bottom: 12px;
    padding: 15px;

    display: flex;
    justify-content: space-evenly;

    border-bottom: 1px solid #DBDBDB;
    background-color: white;
}

.auth-nav-sub-container {
    min-width: 625px;
    max-width: 975px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;

}

.auth-nav-container > * {
    font-size: 13px;
}



/* ------------------- Navbar components ------------------- */
.auth-nav-container a {
    background-color: transparent;
}

.auth-nav-logo {
    height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding-bottom: 1px;
}

.auth-nav-components {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
    padding: 0;
}

.i-img, .i-navlink {
    cursor: pointer;
    background-color: transparent;
}

#navbar-home, #navbar-create, #navbar-chat, #navbar-likes, #profile-button {
    background-color: transparent;
    padding: 0 10px 0 10px;
    border: none;
    font-size: 24px;
    color: #262626;
}

#navbar-home a, #navbar-create a, #navbar-chat a {
    color: #262626;
}

#navbar-chat a i {
    background-color: transparent;
}

#profile-button:hover {
    cursor: pointer;
}



/* ------------------- Dropdown components ------------------- */
.profile-dropdown:before, .profile-dropdown:after {
    position: absolute;
    top: -12px;
    right: 19px;

    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12px 12px 12px;
    border-color: transparent transparent white transparent;

    z-index: 99;
}

.profile-dropdown:after {
    top: -13px;
    border-color: transparent transparent #e4e4e4 transparent;
    z-index: 98;
}

.profile-dropdown {
    z-index: 100;
    position: absolute;
    top: 60px;
    margin-left: 90px;
    height: 68.5px;
    padding: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    box-shadow: 0 0 6px #DBDBDB;
    background-color:white;
    list-style-type: none;
}

.profile-dropdown div {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    background-color: transparent;
    font-size: 15px;
    color: black;
}

#dropdown-navlink {
    margin: 8px;
    padding-left: 1px;
    text-decoration: none;
}
